.ui_actions {
  width: 280px;
}

.ui_body_copy {
  width: 400px;
}

.ui_cancel {
  width: 120px;
}

.ui_content {
  width: 400px;
}

.ui_heading {
  width: 400px;
}

.ui_submit {
  width: 140px;
}

.ui_text_input {
  width: 400px;
}
