.ui_actionGroup_4-317 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 0px;
  width: 600px;
}

.ui_combobox_4-316 {
  width: 256px;
}

.ui_heading_4-315 {
  width: 600px;
}

.ui_primaryAction_4-597-4-461 {
  width: 231px;
}

.ui_secondaryAction_4-555-4-460 {
  width: 114px;
}
